<!DOCTYPE html>
<html>
<head>
    <title>Chris' Crew</title>
    
    <style>
    @import url('https://fonts.googleapis.com/css?family=Sansita');

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bigspacing{
    line-height: 200%;
}

.home-page {
    background:url("http://www.futureofmodernmusic.com/wp-content/uploads/2015/08/sheet-music.jpg") no-repeat center center fixed;
    text-align:center;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Sansita;
  height: 100%;
}
.home-header{
    color:white;
    font-size: 50px;
    padding-top: 101px;
}
.home-quote{
    color:white;
    font-size: 40px;
}
.button1 {
    font-family: "Sansita";
    font-size: 30px ;
    color: white;
    border: 10px solid white;
    background: transparent;
    padding: 20px 35px 20px 35px;
}

.buttons2 {
    font-family: "Sansita";
    font-size: 30px ;
    color: orange;
    border: 10px solid orange;
    background: transparent;
    padding: 20px 35px 20px 35px;
    margin-left: 20px;
    margin-right: 20px;
}

.second-page{
    background:url("http://www.soundofnorth.org/images/bandpeople.jpg") no-repeat center center fixed;
    text-align:center;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Sansita;
  height: 100%;
}
.second-header{
    color: orange;
    font-size: 75px;
    padding-top: 10px;
}

.second-firstquote{
    color: orange;
    font-size: 30px;
    padding-top: 15px;
}

.second-mission{
    margin-left: 20vmax;
    margin-right: 20vmax;
    
}

.second-buttonrow{
    padding-top: 5vmax;
}
.third-page{
    background:url("http://www.lanit-tercom.ru/sites/default/files/video-production_0.jpg") no-repeat center center fixed;
    text-align:center;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Sansita;
  height: 100%;
}

.third-header{
    color: orange;
    font-size: 100px;
}

.fourth-page{
    background:url("http://blog.swellrewards.com/wp-content/uploads/2017/02/together-ihm.gif") no-repeat center center fixed;
    text-align:center;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Sansita;
  height: 100%;
}

.fourth-header{
    color: orange;
    font-size: 100px;
}

.fifth-page{
    background:url("http://static1.1.sqspcdn.com/static/f/1123170/16085828/1326823347877/Exec+Park+500.jpg?token=uZSd7BNnAzQrk3j9yDyoY5sujus%3D") no-repeat center center fixed;
    text-align:center;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Sansita;
  height: 100%;
}

.fifth-page{
    color: orange;
    font-size: 100px;
}

.hvr-grow{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>
    
</head> 

<body>
    
<!-- Home Page //-->
<div class="home-page">
    <div class="home-header">
        <h1>Strictly Strings</h1>
    </div>
    
    <div class="home-quote">
        <h1>"Every dogma has its day." -Anthony Burgess</h3>
    </div>
    
    <div class="home-button">
         <a href="#second-page"><button class="button1 hvr-grow" type="submit">Learn more..</button></a>
    </div>
</div>
<!-- Home page End //-->


<!-- Second Page //-->
<a name="second-page"><div class="second-page"></a>
    <div class="second-header">
        <h3>Our Mission</h1>
    </div>
    <div class="second-firstquote">
        <h3>"Music is the movement of sound to reach the soul for the education of its virtue."</h3>
    </div>
    <div class="second-firstquote second-mission bigspacing">
        <h3>"Throw them if you wish! Perhaps you must, to protect yourself and your family in this cold world. I will not blame you for that. The freedom to choose also belongs to you, as a human. I will shed blood in equal measure to that which is flowing in your heart. But if you would stone me because someone else has ordered it, then you are an insect. You are an insect, without a will of your own, who has given the Spirit's precious gifts to another, and has ceased to think. No matter how much peace that brings you, anyone who abandons those treasures is an insect. I despise insects. I refuse to become one. I am human!"</h3>
    </div>
    <div class="second-buttonrow">
            <a href="#third-page"><button class="buttons2 hvr-grow" type="submit">Videos</button></a>
            <a href="#fourth-page"><button class="buttons2 hvr-grow" type="submit">Our Members</button></a>
            <button class="buttons2 hvr-grow" type="submit">Want Us to Preform for You? Click Here!</button>
            <button class="buttons2 hvr-grow" type="submit">Want to Join Us? Click Here!</button>
    </div>
</div>
<!-- Second Page End //-->

<!-- Third Page //-->
<a name="third-page"><div class="third-page"></a>
    <div class= "third-header">
        <p>Videos</p>
    </div>
    <iframe src="//giphy.com/embed/hcl8WOJGldcRi" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/coming-soon-hcl8WOJGldcRi">via GIPHY</a></p>
    <iframe src="//giphy.com/embed/hcl8WOJGldcRi" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/coming-soon-hcl8WOJGldcRi">via GIPHY</a></p>

</div>
<!-- Third Page End//-->



<!-- Fourth Page //-->
<a name="fourth-page"><div class="fourth-page"></a>
    <div class= "fourth-header">
        <p>Our Members</p>
    </div>
    <iframe src="//giphy.com/embed/hcl8WOJGldcRi" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/coming-soon-hcl8WOJGldcRi">via GIPHY</a></p>
    <iframe src="//giphy.com/embed/hcl8WOJGldcRi" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/coming-soon-hcl8WOJGldcRi">via GIPHY</a></p>
</div>
<!-- Fourth Page End//-->

<!-- Fourth Page //-->
<a name="fifth-page"><div class="fifth-page"></a>
    <div class= "fifth-header">
        <p>Want Us to Preform for You?</p>
    </div>
    <div class = "second-second-buttonrow">
        <button class="buttons2 hvr-grow" type="submit">Contact Us</button>
    </div>
    
</div>
<!--Fourth Page End//-->


</body>


</html>
